<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Categories</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-8">
    <h2>Categories</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col" colspan="1">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, i : ${categories}">
            <th scope="row" th:text="${i.index + 1}"></th>
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{|/books/categories/${category.id}/read|}">Info</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>